@import '~bulma/sass/utilities/_all.sass';

$color-darkblue: #1c234c;
$color-darkgrey: #677077;
$color-light-turquoise: #89ecfe;
$color-yellow: #ffd900;
$color-lightgrey: #b5b5b7;
$color-turquoise: #00caf0;
$color-accessible-turquoise: #007b94;
$color-blue: #1d00bf;
