@import "~bulma/sass/utilities/_all.sass";

$color-darkblue:  #1c234c;
$color-darkgrey:  #677077;
$color-blue:      #7e94b7;
$color-yellow:    #ffd900;
$color-lightgrey: #b5b5b7;
$color-violet:    #954b97;
$color-lightblue: #bde3f2;

